:root {
  --dark-blue1: #06283d;
  --dark-blue2: #0a4d68;
  --stroke: #16213e;
  --blue: #088395;
  --light-blue: #8ed2f8;
  --cyan: #00ffca;

  --snow: #f6f1f1;
  --beige: #ffdb89;
  --light-beige: #fff6c3;
  --yellow: #fce22a;
  --brown: #cd8f2b;
  --brown1: #906821;

  --green: #16ff00;

  --dark-red: #850000;
  --red: #dc0000;
  --light-red: #ed2b2a;

  --dark-brown: #1a120b;
  --gray: #e4dccf;

  --min-width: 450px;
  --max-width: 100%;
  --mobile-breakpoint: 768px;
}

* {
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

html {
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/originals/e4/15/c4/e415c48c6387706cc02f92b09501cab5.gif")
    no-repeat center center fixed;
  background-size: cover;
  opacity: 0.98;
}
.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 250px;
  height: auto;
}

.logo h1 {
  margin-top: -100px;
  justify-content: center;
  align-items: center;
  color: var(--light-beige);
  font-size: 59px;
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 1.7px var(--dark-brown);
  line-height: 1;
  word-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 10px);
  max-width: 560px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b404798-f375-43e8-a53b-2b72c1b2ea0f/dacq5dm-61fc574b-1853-4655-9a85-66d8f0774457.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzViNDA0Nzk4LWYzNzUtNDNlOC1hNTNiLTJiNzJjMWIyZWEwZlwvZGFjcTVkbS02MWZjNTc0Yi0xODUzLTQ2NTUtOWE4NS02NmQ4ZjA3NzQ0NTcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DTlW335Num54BwVaCnTIFkHntdQOUoZxd7v-m24FFXo");
  background-repeat: repeat-xy;
  background-size: auto 43%;
  box-shadow: inset 6px 6px rgba(0, 0, 0, 0.5);
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  padding: 1em;
}

h2 {
  margin-top: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.control {
  flex-basis: 30%;
  text-align: center;
}

.control input[type="number"] {
  width: 50px;
}

.content {
  display: flex;
}

.result {
  flex-basis: 20%;
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
  
  color: var(--snow);
  
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  background-image: url("https://64.media.tumblr.com/5fbc558659cd5f2559d9eff81f9880e2/tumblr_o416cxIsWZ1s335jfo1_r2_540.gif");
  background-size: cover;
  background-position: center;
  box-shadow: inset 4px 4px rgba(0, 0, 0, 0.3);
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--brown);
  color: var(--dark-brown);
  
  width: 120px;
  height: 88px;
  border: 4px solid var(--dark-brown);
  border-radius: 10px;
  margin: 20px;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.3);
}

.item-label {
  font-weight: bold;
}

.item-value {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 50px;
}

.items {
  color: var(--snow);
  
  flex-basis: 80%;
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  background-image: url("https://wallpapers.com/images/hd/treasure-1920-x-1080-background-boef6qwxai9zidt0.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 4px 4px rgba(0, 0, 0, 0.3);
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--brown);
  color: var(--dark-brown);
  
  width: 80px;
  height: 88px;
  border: 4px solid var(--dark-brown);
  border-radius: 10px;
  margin: 5px;
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.3);
}

.item-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.item-label {
  margin-right: 5px;
}

.item-value-input {
  width: 40px;
}

.item-taken {
  background-color: green;
  color: var(--snow);
}

.controls{
  color: var(--snow);
  
  border: 6px solid var(--dark-brown);
  border-radius: 20px;
  background-image: url("https://cdn.openart.ai/stable_diffusion/b531928b73d46445460edbb3291032ae92e238e8_2000x2000.webp");
  background-size: cover;
  background-position: center;
  box-shadow: inset 4px 4px rgba(0, 0, 0, 0.3);
}
